.container {
  margin: 20px auto;
  width: 85%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}
.container .fa{
  display:inline;
}
#splash_list{
  list-style-type:none;
  overflow-x: scroll;
  overflow-y: hidden;
  height:300px;

}

.arrow_container{
  padding-top:80px;
}
.splash{
  display:table-cell;
  min-width:250px;
  height: 250px;
  border: 1px solid black;
}

.paulund_modal_close{
  transition: all 0.5s;
}
.paulund_modal_close:hover{
  transform:scale(1.2,1.2);
}

#modal_content{
  border-radius: 3px;
  font-size:1.3em;
  border:none;
}
#modal_content:focus{

}
.comment_div{
  position:absolute;
}
#create_splash{
  margin-top:15px;
}
