* {
  /*border: 1px red dotted !important;*/
    /*background-color: #3D7999;*/
}

@font-face {
  font-family: "norwester";
  src: url("../images/norwester.otf") format("opentype");
  font-family: "Track";
  src: url("../images/Track.ttf") format("truetype");
  font-family: "Fairview";
  src: url("../images/Fairview_SmallCaps.otf") format("opentype");
}

body{
  /*height: 100%;*/
  /*background-color: tan !important;*/
}

.splash_img{
  /*clear: both;*/
  display: absolute;
  /*float: left;*/
  margin-left: 4em;
  height: 8em;
  background: url("../images/SoapSimple.svg");
  /*background-image: url("../images/soapBox.svg");*/
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
}

.login {
  background-color: black;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  /*margin-top:3em;*/
  font-family: Fairview;
  font-size: 4em;
  color: white;
}

.login h1{
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  /*margin-top: 1em;*/
  font-family: Fairview;
  font-size: 2em;
}

.regFnt {
  font-family: sans-serif;
}

#splash-created-on {
  font-size: .6em;
  font-style: italic;
  color:black;
}
/*body {
  background-image:url(../images/golden-gate-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}*/

#jumbotron-index {
  width: 100%;
  z-index: 0;
  position: absolute;
}
  /*margin-top: 10em;*/
  /*opacity: 0.8;*/
  /*margin-top: 8.4em;*/

.nav_color{
  color: white;
  padding: 0.4em;
  border-bottom: solid 20px #FF8C40;
}

.logout {
  display: block;
  /*float: right;*/
  font-family: Fairview;
  font-size: 2em;
  text-align: right;
  padding-right: 1em;
  /*color: #FFB84D;  */
  color: #FF8C40; 
  transition: color 0.5s ease;
}

.logout:hover{
  font-family: Fairview;
  font-size: 2em;
  display: block;
  color: #CC481B;
}

.logged-in-as{
  display: block;
  text-align: right;
  padding-right: 1em;
  font-family: Fairview;
  font-size: 2em;
  color:white;
}

.create-new-splash-div {
  text-align: center;
  width:100%;
}
