/** {
  border: 1px red dotted !important;
}*/

@font-face {
  font-family: "norwester";
  src: url("../images/norwester.otf") format("opentype");
  font-family: "Track";
  src: url("../images/Track.ttf") format("truetype");
  font-family: "Fairview";
  src: url("../images/Fairview_SmallCaps.otf") format("opentype");
}

body,html{
  height:100%;
}
#jumbotron {
  width:100%;
  margin-top:3em;
  text-align:center;
  opacity:0.9;
}

#splash-created-on {
  font-size: .6em;
  font-style: italic;
  color:black;
}
/*body {
  background-image:url(../images/golden-gate-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}*/

#jumbotron-index {
  padding: 10em;
  margin-top: 8.4em;
  width: 100%;
  /*margin-top: 10em;*/
  opacity: 0.8;
  z-index: 0;
  position: absolute;
}

.navbar-inverse {
  color:white;
  padding: 1em;
}

.logout {
 float: right;
font-family: Fairview;
font-size: 2em;
padding-top: 1em;
color: #FFB84D;
}

.logged-in-as{
  float: right;
  padding-top: 1em;
  margin-right: 2em;
  font-family: Fairview;
  font-size: 2em;
}

.create-new-splash-div {
  text-align: center;
  width:100%;
}
