.favorite{

}

.favorite:hover{
  color:gold;
}

.gold{
  color: gold;
}

.lower_right{
  position:relative;
  bottom:0;
  top:120px;
  left:90px;
}
.lower_left{
  position:relative;
  bottom:0;
  top:120px;
  right:90px;
}
