<div class="container">
  <ul id="splash_list" style="display:block" list-type="none">
    <% @splashes.each do |splash| %>
      <li><%= splash.author_id %></li>
      <li><%= splash.content %></li>
    <% end %>
  </ul>
</div>

