<body>
  <div class="container-fluid">
    <div class="jumbotron" id="jumbotron">
      <h1>SoapBox</h1>
      <p>Make a splash!</p>
      <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg">Login With Facebook</button></a><br>
    </div>  
  </div>
</body>