<div class="container-fluid">
  <body style="background-image:url(images/rsz_1sam_1198.jpg); background-repeat: no-repeat;background-size: cover;">
  <div class="jumbotron" style="width:100%; margin-top:17em; text-align:center; opacity:0.9">
    <h1>SoapBox</h1>
    <p>Bridging the Gap in Communication</p>
    <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg">
      Login With Facebook
    </button></a><br>
  </div>
  </body>
</div>
