<body>
  <div class="container-fluid">
    <div class="jumbotron" id="jumbotron">
      <h1>SoapBox</h1>
      <p>Bridging the Gap in Communication</p>
      <a href="http://soap-box-api.herokuapp.com/auth/facebook"><button type="button" class="btn btn-primary btn-lg">Login With Facebook</button></a><br>

    </div>  
  </div>
</body>
