<body>
  <div class="login">
    <!-- <div class="jumbotron logo_type" id="jumbotron"> -->
    <img class="splash_img" src="../images/SoapSimple.svg" alt="">
      <h1>SoapBox</h1>
      <p>Bridging the Gap in Communication</p>
      <a href="/auth/facebook"><button type="button" class="regFnt btn btn-primary btn-lg">Login With Facebook</button></a><br>
    <!-- </div> -->
  </div>
</body>
