<div class="container-fluid">
  <div class="jumbotron" style="width:100%; margin-top:17em; text-align:center">
    <h1>Welcome to SoapBox</h1>
    <p>Where All Your Dreams Come True!</p>
    <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg">
      Login With Facebook
    </button></a><br>
    <!-- <img src="https://www.mysoapbox.com/images/YourSoapbox.jpg"/> -->
  </div>
<!--   <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="...">
        </a>
      </div>
    </div>
  </nav> -->
  <!-- <a href="/auth/facebook"> LOGIN </a> -->
</div>
